.show-more__btn {
  width: 100%;
  max-width: 320px;
  padding: 8px 10px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.25;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #E8E8E8;
  background-color: rgba(0, 0, 0, 0);
}

@media (max-width:767px) {
  .show-more__btn {
    max-width: 240px;
  }
}