.card-list {
  display: grid;
  grid-gap: 32px;
  grid-template-columns: repeat(3,1fr);
  margin: 0 0 60px;
}

@media (max-width:1024px) {
  .card-list {
    margin: 0 0 85px;
    grid-row-gap: 35px;
    grid-column-gap: 24px;
    grid-template-columns: repeat(2,1fr);
  }
}

@media (max-width:480px) {
  .card-list {
    display: inherit;
  }
}

.card-list_noresults {
  font-size: 18px;
  line-height: 1.4;
  text-align: center;
  display: inherit;
}