.not-found {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
}

.not-found__content {
  margin: 0 0 24px;
}

.not-found__title {
  margin: 0 0 5px;
  font-size: 140px;
  font-weight: 400;
  line-height: 1.2;
}

@media (max-width:767px) {
  .not-found__title {
    font-size: 80px;
    margin: 0 0 10px;
  }
}

.not-found__text {
  margin: 0;
  font-size: 16px;
  line-height: 1.2;
}

@media (max-width:767px) {
  .not-found__text {
    font-size: 12px;
  }
}

.not-found__footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.not-found__link {
  line-height: 1.2;
  color: #3456F3;
  text-decoration: none;
}

@media (max-width:767px) {
  .not-found__link {
    font-size: 12px;
  }
}