.content {
  flex-grow: 1;
}

@media (max-width:1024px) {
  .content {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width:767px) {
  .content {
    padding-left: 14px;
    padding-right: 14px;
  }
}

.content_type_column {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content_padding_none {
  padding-left: 0;
  padding-right: 0;
}