.section_bg_light {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #F5F5F5;
}

@media (max-width:1024px) {
  .section_bg_light {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}

@media (max-width:767px) {
  .section_bg_light {
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: rgba(0,0,0,0);
  }
}