.techs {
  text-align: center;
}

@media (max-width:767px) {
  .techs {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.techs__content {
  max-width: 460px;
  margin: 0 auto 100px;
}

@media (max-width:1024px) {
  .techs__content {
    margin-bottom: 80px;
  }
}

@media (max-width:767px) {
  .techs__content {
    margin-bottom: 50px;
  }
}

.techs__title {
  margin: 0 0 26px;
  font-size: 50px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: -0.04em;
}

@media (max-width:767px) {
  .techs__title {
    font-size: 30px;
    line-height: 1.2;
    margin: 0 0 24px;
  }
}

.techs__text {
  margin: 0;
  line-height: 1.4;
  letter-spacing: -0.04em;
}

@media (max-width:1024px) {
  .techs__text {
    font-size: 12px;
    line-height: 1.5;
  }
}

@media (max-width:767px) {
  .techs__text {
    font-size: 11px;
  }
}

.techs__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width:767px) {
  .techs__list {
    padding: 0 30px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2,84px);
  }
}

.techs__list-item {
  flex: 0 0 90px;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px;
  margin: 0 10px 0 0;
  line-height: 1.2;
  letter-spacing: -0.04em;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: #E8E8E8;
}

@media (max-width:1024px) {
  .techs__list-item {
    flex: 0 0 84px;
    height: 56px;
    font-size: 12px;
    line-height: 1.5;
  }
}

@media (max-width:767px) {
  .techs__list-item {
    margin: 0;
  }
}

.techs__list-item:last-child {
  margin-right: 0;
}